@{
    ViewBag.Title = "Email Sent For Confirmation";
}

@{
    Layout = "~/Views/Shared/_layout3.cshtml";
}

<h2>Email Sent For Confirmation</h2>
<p class="text-info">
    Please check your email and confirm your email address.
</p>

<br /><br /><br /><br /><br /><br /><br />