@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@{
    Layout = "~/Views/Shared/_layout3.cshtml";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
   <br /><br /><br /><br /><br /><br /><br />
</div>

