@{
    ViewBag.Title = "Reset password confirmation";
}
@{
    Layout = "~/Views/Shared/_layout3.cshtml";
}
<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<br /><br /><br /><br /><br /><br /><br />