
@{
    ViewBag.Title = "About";
}


@{
    Layout = "~/Views/Shared/_Layaout1.cshtml";
}

<!-- Banner -->
<div class="banner banner-static banner-medium has-bg lighter-filter">
    <div class="banner-cpn">
        <div class="container">
            <div class="content row">
                <div class="banner-text light style-modern">
                    <h1 class="page-title">About Us</h1>
                    <p>Empowering people through property business.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bg imagebg">
        <img src="~/image/banner-inner.jpg" alt="">
    </div>
</div>
<!-- End Banner -->


<div class="container">
    <div class="row">
        <br />
            <div class="col-md-6 col-sm-6">
                <h2>About</h2>
           <p>Tembisa Property Stokvel is trying to make owning property for black South Africans easier and accessible.
                 We are all familiar with what Stokvel is, our parents and grandparents have been doing it for decades.<br /><br />
                 But instead of being part of Stokvel that buys groceries for each other at the end of the year,
                 you can now be part of a Stokvel that offers you something that’s tangible, something that you and
                 children can benefit from.</p>

                </div>
                <!-- End Widget -->
          
            <div class="col-md-6 col-sm-6">
                <img src="~/image/photo-md-a.jpg" alt="">
            </div>

        
        </div><!-- Widget Row -->

    <br /><br /><br /><br /><br /><br /><br /><br />
    </div>



