
@{
    ViewBag.Title = "Products";
}
@{
    Layout = "~/Views/Shared/_Layaout1.cshtml";
}



@section featured

{



	<!-- Banner -->
<div class="banner banner-static banner-medium has-bg lighter-filter">
    <div class="banner-cpn">
        <div class="container">
            <div class="content row">
                <div class="banner-text light style-modern">
                    <h1 class="page-title">Our Products!</h1>
                    <p>High-Tech products you can trust.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bg imagebg">
        <img src="~/image/banner-inner.jpg" alt="">
    </div>
</div>
<!-- End Banner -->


}


<!-- Content Section -->
<div class="section section-contents section-pad bdr-top">
    <div class="container">
        <div class="content row">
            <div class="wide-md text-left">
             
                <h2><span class="green">Our </span> <span class="green1"> Products</span></h2>
            </div>
            <div class="clear"></div>
            <div class="gaps"></div>
            <!-- Gallery -->
            <div class="gallery gallery-col3 gallery-grids gallery-with-caption hover-zoom">
                <ul class="gallery-list">
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-a.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g1-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Maintain</p>
                                <h4 class="item-title">Bathroom Maintain</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-b.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g2-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Residential</p>
                                <h4 class="item-title">Modern Dream Home</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-c.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g3-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Commercial</p>
                                <h4 class="item-title">Commercial Plumbing</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-d.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g4-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Service</p>
                                <h4 class="item-title">Sewer &amp; Rooter</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-e.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g5-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Repair</p>
                                <h4 class="item-title">Bathroom</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gallery-item">
                            <img src="~/image/gallery/photo-f.jpg" alt="Name of Photo">
                            <div class="gallery-item-link">
                                <span class="link-block">
                                    <a class="link link-more" href="#"><em class="fa fa-link"></em></a>
                                    <a class="link link-popup image-lightbox" href="~/image/gallery/g6-lg.jpg" title="Photo Title"><em class="fa fa-arrows-alt"></em></a>
                                </span>
                            </div>
                            <div class="gallery-item-caption light">
                                <p class="item-cat">Service</p>
                                <h4 class="item-title">Residential Service</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Gallery #End -->
        </div>
    </div>
</div>
<!-- End Section -->


