
@{
    ViewBag.Title = "Success";
}

@{
    Layout = "~/Views/Shared/_layout3.cshtml";
}

<h2> <span class="cont">Success</span></h2>

<br />


    <div class="col-md-8 alert alert-info fade in">
        Thank you for contacting Tembisa Property Stokvel, you will receive a reply a soon as possible.
    </div>


<br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br />

