@model IEnumerable<Identity4Example.Models.FileUploader>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_layout3.cshtml";
}
<h2>Picture Edit</h2>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
